.navContainer{
    width: 200px;
    height: 200vh;
    background-color: rgb(45, 45, 171);
    border-radius: 20px;
}
.nav{
    position: fixed;
    width: 15%;
    height: 100%;
    padding: 10px;
}
.logo-div{
    height: 200px;
    width: 100%;
    margin-bottom: 50px;
}
.logo{
    width: 100%;
    height: 100%;
    border-radius: 20px;
}
.ul{
    width: 100%;
}
.li{
    height: 40px;
    margin-bottom: 5px;
}
.buttonMenu{
    height: 40px;
    width: 100%;
    border-radius: 5px;
    border: none;
    background: transparent;
    color: white;
    font-size: 1rem;
    cursor: pointer;
}
.buttonMenu:hover{
    color: black;
    background-color: white;
    transition: all .3s;
}
